.item-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-box{
    margin: 40px 8px;
    width: 20%;
    border: 1px solid #000;
    
    display: flex;
    position: relative;
    height: 300px;
    background-size: cover ;
    &:hover{
        cursor: pointer; 
        animation: itemHover .3s ease-in-out forwards;
    }
    animation: itemDehover .3s ease-in-out forwards;   
}

.item-info{
    width: 100%;
    background-color: rgba($color: #ccc, $alpha: 0.8);
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    bottom: 0;
    align-items: center;
    
}

.item-title{
    display: flex;
    margin: 8px;
    text-decoration: none;
}

.item-artist{
    display: flex;
    margin: 4px;
    text-decoration: none;    
}

.item-date{
    display: flex;
    margin: 4px;
}

@keyframes itemHover {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-3%);
    }
}

@keyframes itemDehover {
    0%{
        transform: translateY(-3%);
    }
    100%{
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .item-box{
        width: 100%;
    }
}